/.idea
/.ipynb_checkpoints
/20 bigram.png
/20 words.png
/AI_Phase1.docx
/AI_Phase1.pdf
/AI_Phase1.ppt
/AI_Phase2.docx
/AI_Phase2.pdf
/AI_PHASE3.docx
/AI_Phase3.pdf
/AI_PHASE4.docx
/AI_Phase4.pdf
/AI_PHASE5.docx
/AI_Phase5.pdf
/classifying-fake-and-real-news-keras-bert-99-9.ipynb
/count of news subject(2).png
/count of news subject-1.png
/count of news subject.png
/Fake news.png
/fake-news-classifier-lstm.ipynb
/fake-news-nlp-with-three-models.ipynb
/Fake.csv
/fake_news.py
/fake_real_new_final_dataset.pickle
/final_project_report_group19.pdf
/getEmbeddings2.py
/IOT_Phase2.docx
/logistic regression.png
/LSTM.png
/LSTM.py
/newsclassification-bert-pytorch-auc-0-99acc-99-9.ipynb
/ROC-AUC Curve.png
/test.tsv
/Time series analysis.png
/train.tsv
/True News.png
/True.csv
/Untitled.ipynb
/Untitled1.ipynb
/val.tsv
/vertopal.com_fake-news-classifier-lstm.docx
/vertopal.com_fake-news-classifier-lstm.pdf
/~$_PHASE4.docx
/~$_PHASE5.docx